body{
    background-image:url(assets/textures/fabric_plaid.png);
}
nav{
    height: 10%;
}
.facebook{
  width:1.5em;
  height: 1.5em;
}
.twitter{
  width:1.5em;
  height: 1.5em;
}
.nav_logo{
  font-family:
}
main .arrows{
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.column{
  float: left;
  width:33%
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
